/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{

    background:#F5F7FA;

    font-family:'Poppins',sans-serif;

    color:#1F2937;

    padding:40px;
}

/* CONTAINER */

.container{

    max-width:900px;

    margin:auto;
}

/* CARD */

.card{

    background:white;

    padding:30px;

    margin-bottom:30px;

    border-radius:12px;

    border:1px solid #D1D5DB;

    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

/* HEADINGS */

h1{

    font-family:'Merriweather',serif;

    color:#2563EB;

    margin-bottom:10px;

    text-align:center;
}

h2{

    font-family:'Merriweather',serif;

    color:#1F2937;

    margin-bottom:20px;
}

/* PARAGRAPH */

p{

    text-align:center;

    color:#6B7280;
}

/* FORM */

form{

    display:flex;

    flex-direction:column;

    gap:15px;
}

/* LABELS */

label{

    font-weight:bold;
}

/* INPUTS */

input{

    padding:12px;

    border:1px solid #D1D5DB;

    border-radius:8px;

    font-size:15px;
}

input:focus{

    outline:none;

    border-color:#2563EB;
}

/* BUTTON */

button{

    background:#2563EB;

    color:white;

    padding:14px;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    background:#1D4ED8;
}

/* TABLE */

table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;
}

/* HEADER */

th{

    background:#2563EB;

    color:white;

    padding:15px;

    text-align:left;
}

/* CELLS */

td{

    padding:15px;

    border-bottom:1px solid #D1D5DB;
}

/* ALTERNATING ROWS */

tbody tr:nth-child(even){

    background:#F3F4F6;
}

/* HOVER */

tbody tr:hover{

    background:#DBEAFE;
}

/* RESPONSIVE */

@media(max-width:768px){

table{

    display:block;

    overflow-x:auto;
}

body{

    padding:20px;
}

}
